
body {

  background-image: url("/home/andreanibaldi/Laboratoria/gdl-2019-01-bc-core-cipher/src/images/bnw.JPG");
  opacity: 0.6%
  width:1360px;
  height: 580px;
}

p, h1, h3 { 
  color: #532d2d;
  font-weight: normal;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}

.title{
  font-family: 'Petit Formal Script', cursive;
  font-weight: 400 italic;
  font-size: 45px;
  text-shadow: 0.1em 0.1em 0.2em gray;
}

.indicate{
  font-weight: bold;
}

button {
   
  border: none;
  color: #592626;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Old Standard TT', serif;
 
}

div {
 /* max-width: 50%; */   
  padding-top: 25px;
  padding-bottom: 50px;
}

#root {
  
  text-align: center;
  opacity: 0.9;
  margin: 5%;
  border-radius: 25px;
  background-color: rgb(255, 245, 204, 0.8);
  
}

#screen1 {
  text-align: center;
  background-color: rgb(255, 245, 204, 0.8);
  opacity: 0.9;
  margin: 5%;
  border-radius: 25px;
  
}

#screen2 {
  text-align: center;
  background-color: rgb(255, 245, 204, 0.8);
  opacity: 0.9;
  margin: 5%;
  border-radius: 25px;
  
}

.exit {
  margin-top: 25px;
}
